[Plymouth Theme]
Name=Photobooth
Description=Photobooth boot splash
ModuleName=script

[script]
ImageDir=/usr/share/plymouth/themes/photobooth
ScriptFile=/usr/share/plymouth/themes/photobooth/photobooth.script
